@tailwind base;
@tailwind components;
@tailwind utilities;

::root{
    --primary-color-dark:#5A2982;
    --secondary-color-dark:#B891D6;
    --primary-color:#A55AD9;
    --secondary-color:#F4EDF6;
    --white:#FFFFFF;
    --body:#5C6C7B;
    --gray-light:#F1F1F1;
    font-family: 'Nunito', sans-serif;
}


h1,h2,h3,h4,h5,span, label, body, caption{
    line-height:140%;
}

h1,h2,h3,h4,h5,span,label {
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size:48px;
}

h2{
    font-size:40px;
}

h3{
    font-size:33px;
}
h4{
    font-size:28px;
}

h5{
    font-size:23px;
}

p{
    font-size:16px;
}

span{
    font-size:19px;
}

label{
    font-size:16px;
}

body {
    font-size:16px;
}


caption{
    font-size:11px;
}

.padding-x{
    padding:0px 150px;
}

.padding-y {
    padding:100px 0px;
}
.padding {
    padding:100px 150px;
}


