@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color-dark:#5A2982;
    --secondary-color-dark:#B891D6;
    --primary-color:#A55AD9;
    --secondary-color:#F4EDF6;
    --white:#FFFFFF;
    --body:#5C6C7B;
    --gray-light:#F1F1F1;
    font-family: 'Nunito', sans-serif;
}



h1,h2,h3,h4,h5,span, label, body, caption{
    line-height:140%;
}

h1,h2,h3,h4,h5,span,label {
    font-family: 'Open Sans', sans-serif;
}



h1{
    font-size:48px;
}

h2{
    font-size:40px;
}

h3{
    font-size:33px;
}
h4{
    font-size:28px;
}

h5{
    font-size:23px;
}

p{
    font-size:16px;
}

span{
    font-size:19px;
}

label{
    font-size:16px;
}

body {
    font-size:16px;
}


caption{
    font-size:11px;
}





@media (max-width: 1024px) {
    h1{
        font-size:44px;
    }
    h2{
        font-size:36px;
    }
    h3{
        font-size:30px;
    }
    h4{
        font-size:24px;
    }

    h5{
        font-size:20px;
    }

    p{
        font-size:14px;
    }

    span{
        font-size:16px;
    }

    label{
        font-size:14px;
    }

    body {
        font-size:14px;
    }


    caption{
        font-size:10px;
    }
}

@media (max-width: 640px) {
    h1{
        font-size:1.3rem;
    }
    h2{
        font-size:1.2rem;
    }
    h3{
        font-size:1.1rem;
    }
    h4{
        font-size:1rem;
    }

    h5{
        font-size:0.8rem;
    }

    p{
        line-height:130%;
        font-size:12px;
    }

    span{
        font-size:16px;
    }

    label{
        font-size:11px;
    }

    body {
        font-size:14px;
    }


    caption{
        font-size:10px;
    }
}

.padding-x {
    padding: 0px 150px;
}

.padding-b{
    padding-bottom:100px;
}

.padding-y {
    padding:100px 0px;
}
.padding {
    padding:100px 150px;
}

@media (max-width: 1280px) {
    .padding-x {
        padding: 0px 80px;
    }
    .padding-b{
        padding-bottom:80px;
    }
    .padding-y{
        padding: 80px 0px;
    }
    .padding{
        padding:80px 80px;

    }
}

@media (max-width: 640px) {

    .padding-x {
        padding: 0px 30px;
    }
    .padding-b{
        padding-bottom:40px;
    }
    .padding-y{
        padding: 40px 0px;
    }
    .padding{
        padding:40px 30px;

    }
}

/* Adjust for wide but short screens */
@media (max-width: 1920px) and (max-height: 900px) and (min-width:1024px) {

    h1,h2,h3,h4,h5,span, label, body, caption{
        line-height:120%;
    }

    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 20px;
    }
    p, span, label, body {
        font-size: 14px;
    }
    caption {
        font-size: 10px;
    }
    .padding-x {
        padding: 0px 50px;
    }
    .padding-b {
        padding-bottom: 50px;
    }
    .padding-y {
        padding: 50px 0px;
    }
    .padding {
        padding: 50px 50px;
    }
}



.no-scroll-bar::-webkit-scrollbar {
  display: none;
}


@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.reviews {
  display: flex;
}

.reviews-slide {
  animation: slide 55s infinite linear;
}

.reviews-slide-card {
  cursor: pointer;
}

.reviews:hover .reviews-slide {
  animation-play-state: paused;
}


/******************* Animations ****************************/

@keyframes slide-in-right {
    from {
        transform: translateX(-10%) translateY(0);
        opacity: 0;
    }
    to {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    from {
        transform: translateX(10%) translateY(0);
        opacity: 0;
    }
    to {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-up {
    from {
        transform: translateX(0) translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-down {
    from {
        transform: translateX(0) translateY(10%);
        opacity: 0;
    }
    to {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}




@keyframes slide-out-right {
    from {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
    to {
        transform: translateX(-10%) translateY(0);
        opacity: 0;
    }
}

@keyframes slide-out-left {
    from {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
    to {
        transform: translateX(10%) translateY(0);
        opacity: 0;
    }
}

@keyframes slide-out-up {
    from {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
    to {
        transform: translateX(0) translateY(-10%);
        opacity: 0;
    }
}

@keyframes slide-out-down {
    from {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
    to {
        transform: translateX(0) translateY(10%);
        opacity: 0;
    }
}

/* Fade-In Animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Fade-Out Animation */
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.animation-element{
    opacity: 0;
}


/* Slide-In Classes */
.animation-element.in-view.slide-in-right {
    animation: slide-in-right 0.5s forwards;
    animation-delay:0.3s;
}

.animation-element.in-view.slide-in-left {
    animation: slide-in-left 0.5s forwards;
    animation-delay:0.3s;
}

.animation-element.in-view.slide-in-up {
    animation: slide-in-up 0.5s forwards;
    animation-delay:0.3s;
}

.animation-element.in-view.slide-in-down {
    animation: slide-in-down 0.5s forwards;
    animation-delay:0.3s;
}

/* Slide-Out Classes */
.animation-element.in-view.slide-out-right {
    animation: slide-out-right 0.3s forwards;
    animation-delay:0s;
}

.animation-element.in-view.slide-out-left {
    animation: slide-out-left 0.3s forwards;
    animation-delay:0s;
}

.animation-element.in-view.slide-out-up {
    animation: slide-out-up 0.3s forwards;
    animation-delay:0s;
}

.animation-element.in-view.slide-out-down {
    animation: slide-out-down 0.3s forwards;
    animation-delay:0s;
}
/* Fade-In Class */
.animation-element.in-view.fade-in {
    animation: fade-in 0.5s forwards;
    animation-delay:0.3s;
}

/* Fade-Out Class */
.animation-element.in-view.fade-out {
    animation: fade-out 0.3s forwards;
    animation-delay:0s;
}

@keyframes text-animation{
    to {
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
        transform: translateX(0%);
    }
}

.animation-element.text-animation{
    clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 0);
    transform: translateX(-100%);
    opacity:100;
}
.animation-element.in-view.text-animation{
    animation: text-animation 1s linear forwards;
    animation-delay:0.5s;
}

.animation-group .animation-element.no-delay{
    animation-delay:0s;
}


.animation-group .animation-element.in-view:nth-child(1){
    animation-delay:0.8s;
}

.animation-group .animation-element.in-view:nth-child(2){
    animation-delay:1.1s;
}

.animation-group .animation-element.in-view:nth-child(3){
    animation-delay:1.4s;
}

.animation-group .animation-element.in-view:nth-child(4){
    animation-delay:1.7s;
}

.animation-group .animation-element.in-view:nth-child(5){
    animation-delay:2.0s;
}

.animation-group .animation-element.in-view:nth-child(6){
    animation-delay:2.3s;
}

.animation-group .animation-element.in-view:nth-child(7){
    animation-delay:2.6s;
}

.animation-group .animation-element.in-view:nth-child(8){
    animation-delay:2.9s;
}

.animation-group .animation-element.in-view:nth-child(9){
    animation-delay:3.1s;
}

.animation-group .animation-element.in-view:nth-child(10){
    animation-delay:3.4s;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  /* Width of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  /* Color of the scrollbar handle */
  border-radius: 8px;
  /* Rounded corners */
  border: 2px solid var(--primary-color);
  /* Space around the handle */
}

/* Style the scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-dark);
  border: 2px solid var(--primary-color-dark);
  /* Darker color on hover */
}

.file-select {
  position: relative;
  display: inline-block;
}

.file-select::before {
  background-color: var(--white);
  color: var(--primary-color-dark);
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  content: 'Agregar Imagen';
  /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: transform 0.3s ease-in-out;
}

.file-select:hover::before {
  transform: scale(1.05);
  /* Allow the pseudo-element to respond to the hover */
  box-shadow: 0 0 0.04em,
    0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset,
    0 0 0 3.3px rgba(165, 90, 217, 0.55),
    0 0 0 5px rgba(165, 90, 217, 0.3);
}

.file-select input[type="file"] {
  opacity: 0;
  width: 150px;
  height: 150px;
  display: inline-block;
}


#src-tent-image::before {
  text-align: center;
  content: 'Agregar Imagen \A +';
  white-space: pre-wrap;
  /* Allows the line break */
}


.checkbox-wrapper-3 input[type="checkbox"] {
visibility: hidden;
display: none;
}

.checkbox-wrapper-3 .toggle {
position: relative;
display: block;
width: 40px;
height: 20px;
cursor: pointer;
-webkit-tap-highlight-color: transparent;
transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-3 .toggle:before {
content: "";
position: relative;
top: 3px;
left: 3px;
width: 34px;
height: 14px;
display: block;
background: #9A9999;
border-radius: 8px;
transition: background 0.2s ease;
}
.checkbox-wrapper-3 .toggle span {
position: absolute;
top: 0;
left: 0;
width: 20px;
height: 20px;
display: block;
background: white;
border-radius: 10px;
box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
transition: all 0.2s ease;
}
.checkbox-wrapper-3 .toggle span:before {
content: "";
position: absolute;
display: block;
margin: -18px;
width: 56px;
height: 56px;
background: rgba(79, 46, 220, 0.5);
border-radius: 50%;
transform: scale(0);
opacity: 1;
pointer-events: none;
}

.checkbox-wrapper-3 #email-notification:checked + .toggle:before {
background: #B891D6;
}
.checkbox-wrapper-3 #email-notification:checked + .toggle span {
background: #A55AD9;
transform: translateX(20px);
transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
.checkbox-wrapper-3 #email-notification:checked + .toggle span:before {
transform: scale(1);
opacity: 0;
transition: all 0.4s ease;
}
